<h2>Brand: <%= @inv_keg.brand %></h2>
<h3>Brewery: <%= @inv_keg.brewery %></h3>
<h3>Abv: <%= @inv_keg.abv %></h3>

<h3>Date received: <%= @inv_keg.date_received  %></h3>

<h3>Keg price: <%= @inv_keg.price %></h3>
<h3>Keg size: <%= @inv_keg.keg_size %></h3>

<h3>Serving size: <%= @inv_keg.serving_size %></h3>
<h3>Serving price: <%= @inv_keg.serving_price %></h3>
<h3>Date tapped: <%= @inv_keg.date_tapped %></h3>

<h3>Priority: <%= @inv_keg.priority %></h3>
