<h2>Keg brand: <%= @inv_keg.brand %></h2>
<h3>Keg brewery: <%= @inv_keg.brewery %></h3>
<h3>Keg date received: <%= @inv_keg.date_received  %></h3>
<h3>Keg priority: <%= @inv_keg.priority %></h3>
<h3>Keg abv: <%= @inv_keg.abv %></h3>
<h3>Keg price: <%= @inv_keg.price %></h3>
<h3>Keg serving size: <%= @inv_keg.serving_size %></h3>
<h3>Keg date tapped: <%= @inv_keg.date_tapped %></h3>
<h3>Keg serving price: <%= @inv_keg.serving_price %></h3>
<h3>Keg keg size: <%= @inv_keg.keg_size %></h3>