<!DOCTYPE html>
<html>
  <head>
    <title>Tapi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <nav class="navbar navbar-light bg-light">
  <a class="btn btn-outline-success" href="/" role="button">
  Tap list
  </a>
  <a class="navbar-brand" href="/taps">Taps</a>
  <a class="navbar-brand" href="/archives">Archive list</a>
  <a class="navbar-brand" href="/login">login page</a>
</nav>

    <% if logged_in? %>
      <%= button_to "Logout", sessions_path, method: :delete %>
    <% else %>
      <%= button_to "Login Page", login_path, method: :get %>
    <% end %>
    <br>
    <%= yield %>
  </body>
</html>
